.card {
 padding: 16px;
  cursor: pointer;
  width: 176px;
  min-height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img {
  border-radius: 50%;
  width: 144px;
  height: 144px;
}

.nameContainer {
  width: 125px;
  text-align: center;



  h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}
