.overlay {
  height: 100vh;
  background: rgba(217, 217, 217, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content:center;
  align-items: center;
}